<div> <!-- Copy this whole div block to add another changelog -->
    <h1>Title 1: optional description</h1> <!-- This is the title -->
    <date>optional date</date> <!-- This is the date -->
    <ul>
        <li>Change 1</li> <!-- Copy <li>Change 1</li> and paste it below the other lis to add another change -->
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, excepturi.</li> <!-- Dummy text -->
        <li>Change 3</li>
    </ul>
</div>
<div>
    <h1>Title 2: optional description</h1>
    <date>optional date</date>
    <ul>
        <li>Change 1</li>
        <li>Change 2</li>
        <li>Change 3</li>
    </ul>
</div>
